OMDB Search:
<form ng-submit="search()">
  <input type="text" ng-model="text" name="text" />
  <input type="submit" id="submit" value="See What Can't Be Found" />
</form>
<br>
<br>
Filter: <input ng-model="query">
Sort by:
<select ng-model="orderProp">
  <option value="Title">Alphabetical</option>
  <option value="Year">Oldest</option>
  <option value="-Year">Newest</option>
</select>

<ul>
  <li ng-repeat="movie in movies | filter:query | orderBy:orderProp">
  Title: <a href="#/movies/{{movie.imdbID}}">
    <span>{{movie.Title}}</span>
    </a><br>
  Media Type: <span>{{movie.Type}}</span><br>
  Year: <span>{{movie.Year}}</span>
  </li>
</ul>
